.loading {
  text-align: center;
  margin-top: 24px;
}

.chart {
  margin-top: 34px;
  font-family: 'Roboto';
}

.customtooltip {
  font-family: 'Roboto';
  color: #8884d8;
  padding: 10px;
  border: 1px solid #8884d8;
  border-radius: 4px;
  background-color: white;
}
